.markers {
  --marker-width: 1024px;
  --marker-height: 576px;
  --quantity: 5;
  --timeMove: 20s;

  margin-top: 40px;
  margin-bottom: 40px;
  width: var(--marker-width);
  height: var(--marker-height);
  overflow: hidden;
}

.marker-list {
  display: flex;
  width: 100%;
  /* min-width: calc( var(--marker-width) * var(--quantity) ); */
  position: relative;
}

.marker-list img {
  width: var(--marker-width);
  height: var(--marker-height);
  position: absolute;
  left: 100%;
  animation: markerRun var(--timeMove) linear infinite;
  animation-delay: calc( (var(--timeMove) / var(--quantity)) * (var(--position) - 1) );
}

.marker-list:hover img {
  animation-play-state: paused;
}

@keyframes markerRun {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX( calc( (var(--marker-width) * var(--quantity)) * -1) ); 
  }
}